<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          {{ with .Site.Data.social }}
          <ul class="social">
            {{ range . }}
            <li>
              <a href="{{ .link }}" target="_blank" rel="noopener">
                <img width="20" height="20" src="{{ .image | relURL }}" alt="{{ .name }}"/>
              </a>
            </li>
            {{ end }}
          </ul>
          {{ end }}
          <ul class="footer-menu">
            <li><a href="{{ .Site.BaseURL }}impressum/">Impressum</a></li>
          </ul>
          <div class="copyright">&copy; {{ now.Format "2006" }} {{ .Site.Title }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
