{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "main" }}

{{ partial "hero-image-fullscreen.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}

<section id="workshops" class="workshop-section">
  <div class="container">
    <h2 class="section-title">Angebote</h2>
    <div class="workshop-grid">
      {{ $featured := where .Site.Pages ".Params.featured" true }}
      {{ range sort $featured ".Params.weight" }}
        {{ partial "workshop-card.html" . }}
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
